{
  "openapi": "3.1.0",
  "info": {
    "title": "T2W API",
    "version": "1.0.0",
    "description": "Tales on 2 Wheels public API. Shared by the web app and the Android / iOS mobile clients. Dual-mode auth: HttpOnly cookie OR Authorization: Bearer."
  },
  "servers": [
    {
      "url": "https://taleson2wheels.com",
      "description": "production"
    },
    {
      "url": "http://localhost:3000",
      "description": "local dev"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "CookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "t2w-token"
      }
    },
    "schemas": {
      "SafeUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "isApproved": {
            "type": "boolean"
          },
          "avatar": {
            "type": [
              "string",
              "null"
            ]
          },
          "city": {
            "type": [
              "string",
              "null"
            ]
          },
          "totalKm": {
            "type": "number"
          },
          "ridesCompleted": {
            "type": "number"
          },
          "linkedRiderId": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "email",
          "role",
          "isApproved",
          "avatar",
          "city",
          "totalKm",
          "ridesCompleted",
          "linkedRiderId"
        ]
      },
      "IsoDate": {
        "type": "string",
        "format": "date-time",
        "description": "ISO-8601 datetime with offset"
      },
      "AuthTokens": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          },
          "expiresAt": {
            "$ref": "#/components/schemas/IsoDate"
          },
          "refreshExpiresAt": {
            "$ref": "#/components/schemas/IsoDate"
          }
        },
        "required": [
          "accessToken",
          "refreshToken",
          "expiresAt",
          "refreshExpiresAt"
        ]
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/SafeUser"
          },
          "tokens": {
            "$ref": "#/components/schemas/AuthTokens"
          }
        },
        "required": [
          "user",
          "tokens"
        ]
      },
      "ErrorEnvelope": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "details": {}
            },
            "required": [
              "code",
              "message"
            ]
          },
          "requestId": {
            "type": "string"
          }
        },
        "required": [
          "error",
          "requestId"
        ]
      },
      "Email": {
        "type": "string",
        "format": "email"
      },
      "LoginInput": {
        "type": "object",
        "properties": {
          "email": {
            "$ref": "#/components/schemas/Email"
          },
          "password": {
            "type": "string",
            "minLength": 1
          },
          "deviceId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          }
        },
        "required": [
          "email",
          "password"
        ]
      },
      "RefreshResponse": {
        "type": "object",
        "properties": {
          "tokens": {
            "$ref": "#/components/schemas/AuthTokens"
          }
        },
        "required": [
          "tokens"
        ]
      },
      "RefreshInput": {
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "refreshToken"
        ]
      },
      "LogoutResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "ok"
        ]
      },
      "LogoutInput": {
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "MeResponse": {
        "type": "object",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/SafeUser"
          }
        },
        "required": [
          "user"
        ]
      },
      "RegisterInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "email": {
            "$ref": "#/components/schemas/Email"
          },
          "password": {
            "type": "string",
            "minLength": 12,
            "maxLength": 200
          },
          "phone": {
            "type": "string",
            "minLength": 7,
            "maxLength": 20
          },
          "city": {
            "type": "string",
            "maxLength": 120
          },
          "ridingExperience": {
            "type": "string",
            "maxLength": 120
          },
          "motorcycle": {
            "type": "string",
            "maxLength": 120
          },
          "deviceId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          }
        },
        "required": [
          "name",
          "email",
          "password"
        ]
      },
      "SendOtpResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "purpose": {
            "type": "string",
            "enum": [
              "email_verify",
              "password_reset"
            ]
          }
        },
        "required": [
          "ok",
          "purpose"
        ]
      },
      "SendOtpInput": {
        "type": "object",
        "properties": {
          "email": {
            "$ref": "#/components/schemas/Email"
          },
          "purpose": {
            "type": "string",
            "enum": [
              "email_verify",
              "password_reset"
            ],
            "default": "email_verify"
          }
        },
        "required": [
          "email"
        ]
      },
      "VerifyOtpResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "verified": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "ok",
          "verified"
        ]
      },
      "VerifyOtpInput": {
        "type": "object",
        "properties": {
          "email": {
            "$ref": "#/components/schemas/Email"
          },
          "code": {
            "type": "string",
            "minLength": 4,
            "maxLength": 10
          },
          "purpose": {
            "type": "string",
            "enum": [
              "email_verify",
              "password_reset"
            ],
            "default": "email_verify"
          }
        },
        "required": [
          "email",
          "code"
        ]
      },
      "ResetPasswordResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "ok"
        ]
      },
      "ResetPasswordInput": {
        "type": "object",
        "properties": {
          "email": {
            "$ref": "#/components/schemas/Email"
          },
          "password": {
            "type": "string",
            "minLength": 12,
            "maxLength": 200
          }
        },
        "required": [
          "email",
          "password"
        ]
      },
      "DevicePlatform": {
        "type": "string",
        "enum": [
          "ios",
          "android",
          "web"
        ]
      },
      "Device": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "platform": {
            "$ref": "#/components/schemas/DevicePlatform"
          },
          "pushToken": {
            "type": [
              "string",
              "null"
            ]
          },
          "deviceName": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastSeenAt": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "platform",
          "pushToken",
          "deviceName",
          "lastSeenAt",
          "createdAt"
        ]
      },
      "RegisterDeviceResponse": {
        "type": "object",
        "properties": {
          "device": {
            "$ref": "#/components/schemas/Device"
          }
        },
        "required": [
          "device"
        ]
      },
      "RegisterDeviceInput": {
        "type": "object",
        "properties": {
          "platform": {
            "$ref": "#/components/schemas/DevicePlatform"
          },
          "pushToken": {
            "type": "string",
            "minLength": 1,
            "maxLength": 512
          },
          "deviceName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          }
        },
        "required": [
          "platform"
        ]
      },
      "UnregisterDeviceResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "ok"
        ]
      },
      "RideType": {
        "type": "string",
        "enum": [
          "day",
          "weekend",
          "multi-day",
          "expedition"
        ]
      },
      "RideStatus": {
        "type": "string",
        "enum": [
          "upcoming",
          "ongoing",
          "completed",
          "cancelled"
        ]
      },
      "RideDifficulty": {
        "type": "string",
        "enum": [
          "easy",
          "moderate",
          "challenging",
          "extreme"
        ]
      },
      "RideSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "rideNumber": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/RideType"
          },
          "status": {
            "$ref": "#/components/schemas/RideStatus"
          },
          "startDate": {
            "type": "string"
          },
          "endDate": {
            "type": "string"
          },
          "startLocation": {
            "type": "string"
          },
          "endLocation": {
            "type": "string"
          },
          "distanceKm": {
            "type": "number"
          },
          "difficulty": {
            "$ref": "#/components/schemas/RideDifficulty"
          },
          "maxRiders": {
            "type": "integer"
          },
          "fee": {
            "type": "number"
          },
          "posterUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "leadRider": {
            "type": "string"
          },
          "sweepRider": {
            "type": "string"
          },
          "detailsVisible": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "title",
          "rideNumber",
          "type",
          "status",
          "startDate",
          "endDate",
          "startLocation",
          "endLocation",
          "distanceKm",
          "difficulty",
          "maxRiders",
          "fee",
          "posterUrl",
          "leadRider",
          "sweepRider",
          "detailsVisible"
        ]
      },
      "PageInfo": {
        "type": "object",
        "properties": {
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "nextCursor"
        ]
      },
      "RidesListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RideSummary"
            }
          },
          "pageInfo": {
            "$ref": "#/components/schemas/PageInfo"
          }
        },
        "required": [
          "data",
          "pageInfo"
        ]
      },
      "Cursor": {
        "type": "string",
        "minLength": 1,
        "maxLength": 256
      },
      "RideDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/RideSummary"
          },
          {
            "type": "object",
            "properties": {
              "startLocationUrl": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "endLocationUrl": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "description": {
                "type": "string"
              },
              "highlights": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "route": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "extraBedSlots": {
                "type": "integer"
              },
              "extraBedFee": {
                "type": "number"
              },
              "organisedBy": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "accountsBy": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "meetupTime": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "rideStartTime": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "startingPoint": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "riders": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "registrationCount": {
                "type": "integer"
              }
            },
            "required": [
              "startLocationUrl",
              "endLocationUrl",
              "description",
              "highlights",
              "route",
              "extraBedSlots",
              "extraBedFee",
              "organisedBy",
              "accountsBy",
              "meetupTime",
              "rideStartTime",
              "startingPoint",
              "riders",
              "registrationCount"
            ]
          }
        ]
      },
      "RideDetailResponse": {
        "type": "object",
        "properties": {
          "ride": {
            "$ref": "#/components/schemas/RideDetail"
          }
        },
        "required": [
          "ride"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/v1/auth/login": {
      "post": {
        "summary": "Authenticate with email + password",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tokens + user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/refresh": {
      "post": {
        "summary": "Rotate a refresh token (with reuse detection)",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New token pair",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshResponse"
                }
              }
            }
          },
          "401": {
            "description": "Refresh token invalid, revoked, or reused",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/logout": {
      "post": {
        "summary": "Revoke a refresh token (or all sessions if none provided + authed)",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogoutInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logged out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogoutResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/me": {
      "get": {
        "summary": "Return the authenticated user",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Authenticated user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/register": {
      "post": {
        "summary": "Create a new rider account",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created + tokens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Email already registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/send-otp": {
      "post": {
        "summary": "Send a one-time code (email verify or password reset)",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendOtpInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Code dispatched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendOtpResponse"
                }
              }
            }
          },
          "404": {
            "description": "No account (reset purpose only)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Account exists (verify purpose only)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Email service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/verify-otp": {
      "post": {
        "summary": "Verify a one-time code",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyOtpInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Code verified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyOtpResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/reset-password": {
      "post": {
        "summary": "Set a new password (after verifying a reset OTP)",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResetPasswordResponse"
                }
              }
            }
          },
          "403": {
            "description": "Reset session expired or not verified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices": {
      "post": {
        "summary": "Register or update a device push token",
        "tags": [
          "devices"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterDeviceInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Device registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterDeviceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{id}": {
      "delete": {
        "summary": "Unregister a device",
        "tags": [
          "devices"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Device unregistered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnregisterDeviceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Device not found or not owned by user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/rides": {
      "get": {
        "summary": "List rides (cursor-paginated)",
        "tags": [
          "rides"
        ],
        "parameters": [
          {
            "schema": {
              "$ref": "#/components/schemas/Cursor"
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "description": "Page size (1-100, default 20)"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/RideStatus"
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/RideType"
            },
            "required": false,
            "name": "type",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated ride summaries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RidesListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/rides/{id}": {
      "get": {
        "summary": "Get a single ride by id",
        "tags": [
          "rides"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Ride detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RideDetailResponse"
                }
              }
            }
          },
          "404": {
            "description": "Ride not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {}
}
